[autogen]
/.sublime-project.sublime-workspace
/.jshint.html
/doc/api
/doc/coverage
/tests.html

[build]
/tmp/*
!/tmp/.gitkeep
/releases
*.swp

[assets]
exclude
*.zip
*.gz

[env]
/.grunt/
/node_modules
/assets
/www/dist
/www/src
/www/vendor
/www/fixtures
/src/js/config/environments/development.js
/dist